@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    width: 1440px;
    height: 605px;
}

header {
    width: 1440px;
    height: 605px;
    color: #33A8DB;
    background-color: black;
    font-family: Raleway;
}

.banner-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.img-logo {
    margin: auto;
    display: flex;
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner p {
    width: 510px;
    height: 46px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: justify;
    color: #FFFFFF;
}

.banner .banner-content button {
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    border-radius: 30px;
}

#course-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: Hug (792px);
    height: Hug (325px);
    top: 723px;
    left: 324px;
    gap: 24px;
    background-color: black;
}

#course-content h2 {
    width: 500px;
    height: 38px;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.19em;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    color: #33A8DB;
}

 #course-content .modules-list .module {
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}

.modules-list {
    width: Hug (792px);
    height: Hug (325px);
    top: 723px;
    left: 324px;
    gap: 24px;
}

.module span {
    color: #33A8DB;
}

#course-content p {
    color: #FFFFFF;
    text-align: center;
    width: 792px;
    height: 38px;
    margin: auto;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

#transform-world {
    background-image: url(/assets/images/woman-code.png);
    width: 1440px;
    height: 363px;
    top: 555px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    padding-top: 5px;
    position: fixed;
    z-index: -1;
}

#transform-world p {
    width: 244px;
    height: 141px;
    top: 111px;
    left: 198px;
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    text-shadow: 3px 2px #33A8DB;
    text-transform: lowercase;

}